.white-section {
  background-color: #fff;

  color: #22313F;

  padding: {
    left : 2%;
    right: 2%;
    top : 40px;
    bottom: 40px;
  }

  // margin: {
  //   top : 30px;
  //   bottom: 30px;
  // }
}
