#HeaderStoreIcons {
  margin: {
    top    : 40px;
    bottom : 40px;
  }
}

.storeIcon
{
  height:40px;
}

.homeHeaderSectionTitle {
  margin-top: 30px;
  margin-bottom: 80px;
  font-weight: bolder;
}

.homeHeaderSepTitle {
  max-width: 100px;
  border-width: 3px;
  border-color: rgb(34, 49, 63);//#333333;
}


.howToTitleContainer {
  cursor: pointer;
}
